img.perfil{
    border-radius: 50%;
    height: 26px;
    width: 26px;
    margin-left: 5px;
}
.arroba{
    color: #6E767D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 17.33px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 13px;
}
.textoretweet{
    color: #6E767D;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    margin-bottom: -5px;
    margin-left: 10px;
   
    
}
.linha{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.nome{
    
    font-family: Verdana, sans-serif;
    font-size: 13px;
    height: 17.33px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 0px;
    color: black;

}

.corpo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 15px;
}
.nomeearroba{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    
}
.textoacao{
    margin-top: -10px;
    margin-left: 10px;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    width: 100%;

}
.texto{    
    margin-top: -10px;
    margin-left: 10px;
    color: #6E767D;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    width: 100%;
}

}
.estrela{
    display: flex;
    flex-direction: row;
    margin-top: 21,5px;
}
.linharetweet{
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;
    margin-left: 12px;

}
img.foto{
    margin-left: 10px;
    border-radius: 15px;
    width: 98%;
   
}

body{
}

.marcacao{
    font-family: Verdana, sans-serif;
    color:#1B95E0;

}

.corpodotexto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
}

.icone {
    fill: #6E767D;
}

.iconeretweet{
    margin-top: 13px;
    width: 43px;
    display: flex;
    
    justify-content:flex-end;
}

.ultimalinha{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: space-between;
    

}
.iconesultimalinha{
    fill: #6E767D;
    margin-right: 10%;
    margin-bottom: 10px;


}
.seta{
    fill: #6E767D;
}

.imagem{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    justify-content: space-between ;
    margin-right: 0px;
}
.icone1 {
    color: #6E767D;
    display: flex;
    flex-direction: row;
    font-family: Verdana, sans-serif;
    font-size: 13px;
}
.icone2 {
    color: #6E767D;
    display: flex;
    flex-direction: row;
    font-family: Verdana, sans-serif;
    font-size: 13px;
}
.icone3 {
    color: #6E767D;
    display: flex;
    flex-direction: row;
    font-family: Verdana, sans-serif;
    font-size: 13px;
}
.icone4 {
    display: flex;
    flex-direction: row;
}
.borda{
    width: 100%;
    background-color: white ;
   
    
}


.letracinza{
    color: #6E767D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 17.33px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 13px;

}

.linhadaresposta{
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    justify-content: space-between ;
    margin-left: 10px;
    margin-top: -13px;
}
.linhaseparacao{
    color: #6E767D;
    border-width: 0.2px;
    margin-bottom: 20px;
}

.linhadonome1{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    justify-content: space-between ;
    margin-right: 0px;
}

.arroba1{
    color: #6E767D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 17.33px;
    margin-bottom: 15px;
    margin-top: -10px;
    font-size: 13px;
    margin-left: 10px;
}

.fotomaisnome{
    display: flex;
    flex-direction: row;

}

header{
    padding: 9px 0;
    text-align: center;
    background: white;
    border: #6E767D;
    border-width: 1px;

}
.center{
    max-width: 1100px;
    margin: 0 auto;
    pading: 0 2%;

}
.barrafixacima{
    position: fixed;
    width: 100px;
    background-color: black;
}



* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  
  .wrap {
    width: 320px;
    border: 1px solid #ccc;
    height: 480px;
    overflow: auto;
    position: relative;
  }
  .top-header {
    display: flex;
    justify-content: space-between;    
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 60px;
    
  }

  .top {
    height: 100px;
    padding-top: 40px;
  }
 

  .paginaprincipal{
    font-family: Verdana,  Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-top: 20px;
    color: black
  }

  .botao{
    background-color: #1B95E0;
    border-top-color: #1B95E0; 
    border-bottom-color: #1B95E0; 
    border-left-color: #1B95E0; 
    border-right-color: #1B95E0; 
    border-style: solid;
    border-radius: 50%;
    width: 43px;
    height: 43px;

  }

  .botao:hover{
    background-color: rgb(89, 178, 233);
    border-top-color: rgb(89, 178, 233); 
    border-bottom-color: rgb(89, 178, 233); 
    border-left-color: rgb(89, 178, 233); 
    border-right-color: rgb(89, 178, 233); 
  }

  .pena{
    fill: white;
  }

  .footer {
    position:fixed;
    bottom:0;
    width:100%;
}
.estrela{
    fill: purple;
    
} 
.divestrela{
    margin-left: -20px;
    margin-right: 3px;

}
.coluna{
    display: flex;
    flex-direction: column;
}